<div class="new-task-footer">
    <div class="left-container">
        <img src="../../assets/icons32px/maximize-2.svg">
        <img src="../../assets/icons32px/calendar.svg">
        <img src="../../assets/icons32px/message-circle.svg">
        <img src="../../assets/icons32px/sun.svg">
        <img src="../../assets/icons32px/circle.svg">
        <img src="../../assets/icons32px/trash-2.svg">
    </div>
    <div class="rightcontainer">
        <img (click)="addTask()" src="../../assets/icons32px/plus.svg">
    </div>
</div>
