@font-face {
    font-family: 'regular_font';
    src: url('../../../assets/fonts/roboto/Roboto-Regular.ttf');
  }

.new-task-footer
{
    font-family: 'regular_font';
    color: lightgray;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: solid;
    border-width: 0.5px;
    border-color: rgb(230, 230, 230);
    padding: 10px 20px 10px 20px;
}

.left-container
{
    display: flex;
    flex-direction: row;
}

.button-container
{
    display: flex;
    align-items: center;
    background: none; 
    padding: 5px 20px 5px 15px;
    margin-right: 10px;
    border: solid;
    border-width: 1px;
    border-radius: 3px;    
}

.button-container:hover
{
    cursor: pointer;
}

.rightcontainer
{
    display: flex;
    flex-direction: row;
}

.rightcontainer .button-container
{
    padding: 7px 20px 7px 20px;
}

.rightcontainer img
{
    display: none;
}

.rightcontainer #cancel
{
    background-color: rgb(225, 227, 230);
    color: black;
    border: none;
}

.rightcontainer #ok
{
    background-color: rgb(30, 93, 187);
    color: white;
    border: none;
}

img
{
    margin-right: 10px;
}

@media screen and (max-width: 1230px) {
    /* These settings add to or override those that come before */
    .new-task-footer .button-container
    {
        border: none;
        padding: 0px;
    }
    .new-task-footer .button-container span 
    {
        display: none;
    }

    #cancel { display: none; }
    #ok { display: none; }
    .rightcontainer img { display: flex; }
  }