<div id="card" class="new-task-container">
    <div class="new-task">
        <form [formGroup]="newTaskForm">
            <img src="../../assets/icons/plus-square.svg">
            <ul>
                <li *ngFor="let tag of tags">
                    <span *ngIf="typeOfTag(tag) == 'TYPE.plain'" appTextColor="black">{{ tag }}</span>
                    <span *ngIf="typeOfTag(tag) == 'TYPE.contact'" appTextColor="green">{{ tag }}</span>
                    <span *ngIf="typeOfTag(tag) == 'TYPE.link'" appTextColor="blue">{{ tag }}</span>
                    <span *ngIf="typeOfTag(tag) == 'TYPE.hashtag'" appTextColor="red">{{ tag }}</span>
                    <span *ngIf="typeOfTag(tag) == 'TYPE.email'" appTextColor="yellow">{{ tag }}</span>
                </li>
            </ul>
            <input type="text" placeholder="Type to add new task" (focus)="onFocusEvent()" (keyup.Space)="onSpaceKeyPress()" formControlName="description">
        </form>
        
    </div>
    <ng-container *ngIf="showDecoration">
        <app-task-footer (messageEvent)="receiveMessage()" (cancelEvent)="cancelTask()"></app-task-footer>
    </ng-container>    
</div>

<div class="task-list">
    <ul>
            <li *ngFor="let task of tasks">
                <input type="checkbox">
                <p *ngFor="let tag of task.tags">
                    {{ tag.text }}
                </p>
            </li>
    </ul>
</div>


