<div id="card" class="new-task-container">
    <div class="new-task">
        <form [formGroup]="newTaskForm">
            <img src="../../assets/icons/plus-square.svg">
            <input type="text" placeholder="Type to add new task" (focus)="onFocusEvent()" formControlName="description">
        </form>
        
    </div>
    <ng-container *ngIf="showDecoration">
        <app-task-footer (messageEvent)="receiveMessage()" (cancelEvent)="cancelTask()"></app-task-footer>
    </ng-container>    
</div>

<div class="task-list">
    <ul>
            <li *ngFor="let task of tasks">
                <input type="checkbox">
                <span>{{ task.description }}</span>
            </li>
    </ul>
</div>


