<div id="card" class="new-task-container">
    <div class="new-task">
        <form [formGroup]="newTaskForm">
            <img src="../../assets/icons/plus-square.svg">
            <ul>
                <li *ngFor="let tag of tags">
                    <span *ngIf="typeOfTag(tag) == 'TYPE.plain'" appTextColor="black">{{ tag }}</span>
                    <span *ngIf="typeOfTag(tag) == 'TYPE.contact'" class="tag contact">{{ tag }}</span>
                    <span *ngIf="typeOfTag(tag) == 'TYPE.link'" class="tag link">{{ tag }}</span>
                    <span *ngIf="typeOfTag(tag) == 'TYPE.hashtag'" class="tag hashtag">{{ tag }}</span>
                    <span *ngIf="typeOfTag(tag) == 'TYPE.email'" class="tag email">{{ tag }}</span>
                </li>
            </ul>
            <input id="input-task" type="text" placeholder="{{placeholder}}" (focus)="onFocusEvent()" (keyup.Space)="onSpaceKeyPress()" (keyup.Backspace)="deleteTag()" formControlName="description">
        </form>
        
    </div>
    <ng-container *ngIf="showDecoration">
        <app-task-footer (messageEvent)="receiveMessage()" (cancelEvent)="cancelTask()"></app-task-footer>
    </ng-container>    
</div>

<div class="task-list">
    <ul>
            <li *ngFor="let task of tasks">
                <input type="checkbox">
                <div *ngFor="let tag of task.splittedDescription">
                    <span *ngIf="typeOfTag(tag) == 'TYPE.plain'" appTextColor="black">{{ tag }}</span>
                    <span *ngIf="typeOfTag(tag) == 'TYPE.contact'" class="tag contact">{{ tag }}</span>
                    <span *ngIf="typeOfTag(tag) == 'TYPE.link'"  class="tag link">{{ tag }}</span>
                    <span *ngIf="typeOfTag(tag) == 'TYPE.hashtag'" class="tag hashtag">{{ tag }}</span>
                    <span *ngIf="typeOfTag(tag) == 'TYPE.email'" class="tag email">{{ tag }}</span>
                </div>
            </li>
    </ul>
</div>


