@font-face {
    font-family: 'regular_font';
    src: url('../../assets/fonts/roboto/Roboto-Regular.ttf');
  }

.new-task
{
    padding: 20px 20px 25px 20px;
    font-family: 'regular_font';
}

.new-task img
{
    margin-right: 10px;
}

.new-task ul
{
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.new-task li
{
    margin-right: 5px;
}

.new-task form
{
    display: flex;
    flex-direction: row;
}


.new-task input
{
    font-size: 16px;
    color: rgb(83, 90, 102);
    border: none;
}

span
{
    padding: 0;
    margin: 0;
}

input:focus
{
    outline: none;
}


.card-container
{    
    border: solid;
    border-width: 0.5px;
    border-color: rgb(230, 230, 230);
    
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 2px 1px;
}

.new-task-container
{
    margin: 20px;
}

.task-list ul
{
    font-family: 'regular_font';
    list-style-type: none;
}

.task-list li
{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
}

.task-list span
{
    margin-left: 5px;
    font-size: 14px;
    color: rgb(83, 90, 102);   
}

.task-list input
{
    height: 18px;
    width: 18px;
}

.task-list .tag
{
    border-radius: 10px;
    padding: 2px 8px 2px 8px;
}

.new-task .contact
{
    color: rgb(0, 146, 66);;
}

.new-task .link
{
    color: rgb(6, 115, 119);;
}

.new-task .hashtag
{
    color: rgb(120, 18, 253);;
}

.new-task .email
{
    color: rgb(122, 104, 2);;
}

.task-list .contact
{
    background-color: rgb(129, 228, 174);
    color: rgb(0, 146, 66);;
}

.task-list .link
{
    background-color: rgb(168, 242, 245);
    color: rgb(6, 115, 119);;
}

.task-list .hashtag
{
    background-color: rgb(223, 199, 255);
    color: rgb(120, 18, 253);;
}

.task-list .email
{
    background-color: rgb(250, 238, 171);
    color: rgb(122, 104, 2);;
}

.task-list .tag:hover
{
    cursor: pointer;   
}
